@charset "UTF-8";

/*Modo configurações Gerais(ALL)*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-color:#233eff;
    background-repeat: no-repeat;
    background-size: contain;
}


h1{
    color: rgb(16, 66, 110);
    text-shadow: 1.5px 1.5px 3px rgb(156, 59, 246);
    padding: 10px;
}
